<!DOCTYPE html>
<html>
<head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <lang Portugues></lang>
        <title>Cadastros de Endereços</title>
        <link rel="stylesheet" href="../CSS/estilo_paginas.css">
    </head>
      <body>
        <h2><img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180"></h2>
            <br>
Rua: <input type="text" placeholder="Digite o nome da rua"></input><br> 
Numero: <input type="text" placeholder="Digite o número"></input> CEP: <input type="text" placeholder="Digite o CEP"></input>
            <br>
Bairro: <input type="text" placeholder="Digite o nome do bairro"></input>Cidade:<input type="text" placeholder="Digite o nome da cidade"></input>
            <br>
<h2>Dados do Posto de Saúde</h2>
Posto de Saúde: <input type="text" placeholder="Digite o nome do posto de saúde"></input><br>
Telefone do Posto: <input type="text" placeholder="Digite o telefone do posto"></input><br>
Endereço: <input type="text" placeholder="Digite o endereço do posto"></input><br>
            <br>
            <h2>Dados do Agente Comunitário de Saúde</h2>
<a href="Enderecos_Cadastrados.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Salvar</button></a>
<a href="Enderecos_Cadastrados.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Meus endereços</button></a>
<a href="pagina_inicial.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Página Inicial</button></a>

            <br>

    </body>
</html>