no
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Cadastro de Agente Comunitário de Saúde</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(botton, #d9ecf7, #3c6b96);
      text-align: center;
      color: #000066;
    }
  </style>
</head>

<body>
  <img src="../imagens/projet_logo.jpg" alt="Logo do Projeto">
  <h1>Cadastro de Agente Comunitário de Saúde</h1>
  <form action="pagina_inicial.html">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome">
    <label for="cns_cpf">CNS/CPF:</label>
    <input type="text" id="cns_cpf" name="cns_cpf">
    <label for="lotacao">Lotação:</label>
    <input type="text" id="lotacao" name="lotacao">
    <label for="categoria">Categoria Profissional:</label>
    <input type="text" id="categoria" name="categoria">
    <label for="usuario">Usuário:</label>
    <input type="text" id="usuario" name="usuario">
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha">
    <button type="submit">Confirmar</button>
  </form>
  <a href="pagina_inicial.html"><button>SAIR</button></a>
</body>

</html>