<html>
    <head>
        <title>Cadastro</title>
        <style>
            img {top:0}
           <div class="container">
            </style>
    </head>
    <body>
            <img src="imagens\projet_logo.jpg" alt="logo acs"
                </body>
            </style>
    </body>
        </a>
        <style="background:linear-gradient(to bottom,#d9ecf7,#3c6b96) ;"<a/>
        <br>
   <div style="background-color:lightskyblue; text-align: center;">
        <br>
        Cadastro de Agente Comunitário de Saúd<br>
       <label>Nome</label>
       <input type="text"/><br>
       <label>CNS/CPF</label>
       <input type="text"/><br>
        <label>Lotação</label>
       <input type="text"/><br>
        <label>Categoria profissional</label>
       <input type="text"/><br>
        <label>usuário</label>
       <input type="text"/><br>
        <label>Senha</label>
       <input type="text"/><br>
     <button class="Confirmar">Clique aqui</button>
     <button>
      <div style="background-color: green;"Confirmar></div>

     <button>Confirmar</button>

    </bory>
</html>
