<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <lang Portugues></lang>
        <title>Resultado</title>
        <link rel="stylesheet" href="../CSS/estilo_paginas.css">
    </head>
    <body>
        <img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180">
        <h1>Endereços Cadastrados</h1>
        <p>Lista de endereços cadastrados:</p>
    <br>  
    <table border="1"width="100%" >       
    <tr>
        <th>Agente de Saúde</th>
        <th>Posto de Saúde</th>
        <th>Endereço</th>
    </tr>
    <tr>
        <td><border><a href="cadastro_endereços.html"></border></td>
        <td></td>
        <td></td>
    </tr>
    <thead>
        <tbody>


        </tbody>
    </thead>
           
    </table>
        <br>
        <button><a href="pagina_inicial.html">Sair</a></button><button><a href="cadastro_endereços.html">Novo endereço</a></button>
    </body>
</html>