    <!DOCTYPE html>
    <html >
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' 
    content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereços Cadastrados</title>
    <link rel="stylesheet" href="../CSS/estilo_paginas.css">
</head>
    <body>
        <img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180">
        <h1>Endereços Cadastrados</h1>
        <p>Lista de endereços cadastrados:</p>
<div class="parent">     
    <table>     
        <tr>
        <th>Rua</th>
        <th>N°</th>
        <th>Bairro</th>
        <th>CEP</th>
        </tr>
        <tr>
            <td>Av Jose Tupinambá da Frota</td>
            <td>1751</td>
            <td>Centro</td>
            <td>62.000-100</td>
        </tr>
    </table>
</div> 
<a href="" alt="Imprimir">imprimir</a><br><br>
<a href="pagina_inicial.html"><button>Sair</button><a href="cadastro_endereços.html"><button>Novo endereço</button></a>
    </body>
</html>