<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <lang Portugues></lang>
        <title>Resultado</title>
        <link rel="stylesheet" href="../CSS/estilo_paginas.css">
    </head>
    <body>
        <img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180">        <h2>Endereços Cadastrados</h2>
        <p>Lista de endereços cadastrados:</p>
    <br>  
    <div class="parent">
    <table>     
    <tr>
        <th><b>Agente de Saúde</b></th>
        <th><b>Posto de Saúde</b></th>
        <th><b>Endereço</b></th>
    </tr>
    
    <tr>
        <td><border><a href="cadastro_endereços.html"></border></td>
        <td></td>
        <td></td>
    </tr>
    <thead>
        <tbody>


        </tbody>
    </thead>
    </table>
    </div>
        <br>
        <a href="pagina_inicial.html"><i><button class="btn-3d" class="icon-hand-o-right"></i>Sair</button> <a href="cadastro_endereços.html"><i><button class="btn-3d" class="icon-hand-o-right">Novo endereço</button></i></a>
    </body>
</html>