<!DOCTYPE html>
<html lang="pt-br">
<head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' 
      content='IE=edge'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Carlos Henrique Sousa Silva">
      <title>LOGIN</title>
      <link rel="stylesheet" href="../CSS/estilo_paginas.css">
</head>
<body>
           <h3>
            <img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180"><br>
            <br>
            Login: <input type="text"><br>
            Senha:<input type="text"><br>
           </h3>
      <a href="cadastro_endereços.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>confirmar</button><a href="pagina_inicial.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>sair</button></a>
      <br>  <br>
      <a href="recuperar_senha.html"><style font-size="7px"></style>Esqueci minha senha</a>
</body>

</html>