<!DOCTYPE html>
<html>

<head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <lang Portugues></lang>
      <title>LOGIN</title>
      <style>
            body {
                  margin: 0;
                  font-family: Arial, sans-serif;
                  background: linear-gradient(botton, #d9ecf7, #3c6b96);
                  text-align: center;
                  background-color: linear-gradient(to bottom, #cce7ff, #004080);
            }
      </style>
</head>

<body>
      <h2>
            <img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180"><br>
            <br>
            <br>
            Login:<input type="text"><br>
            Senha:<input type="text"><br>
            <br>
            <a href="seu_perfil.html"><button>Confirmar</button><button>Esqueci minha Senha</button></a>
            <a href="pagina_inicial.html"><button>SAIR</button></a>
      </h2>
</body>

</html>