<html>
    <head>
        <title>Página Inicial</title>
    </head>
    <bory>
        <img src="projet_logo.jpg" alt="logo acs">
        <br>
        <h1>Encontre seu Agente Comunitário de Saúde </h1>
        <br>
        <br>
        Dígite seu endereço:
        <br>
        <input> <button><a href="resultado.html">Pesquisa</a></button>
        <br>
        <br>
        <br>
        Sou Agente Comunitário de Saúde!
        <br>
        <button><a href="login.html">Login</a></button>
       <button> <a href="cadastro.html">Cadastre-se</a> </button>
       <br>
       <a href="teste.html">Página teste</a>

    </bory>
</html>