<!DOCTYPE html>
<html>
<head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <lang Portugues></lang>
      <title>Página Inicial</title>
      <link rel="stylesheet" href="../CSS/estilo_paginas.css">
</head>
    <body>
         <img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180">
        <br>
        <h2>Encontre seu Agente Comunitário de Saúde</h2>
        <br>
    Digite seu endereço: <input>
        <br><br>
       <a href="resultado.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Pequisar</button></a>          
        <br>
 <hr>    <h2>Sou Agente Comunitário de Saúde!</h2>
        <br>
            <a href="login.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Login</button><a href="cadastro.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Cadastre-se</button></a>
       <br><br>
       <a href="recuperar_senha.html">Recuperar Senha</a>
    </body>
</html>
