<!DOCTYPE html>
<html lang="pt-br">
<head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' 
      content='IE=edge'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Resultado</title>
      <link rel="stylesheet" href="../CSS/estilo_paginas.css">
</head>
 <body>
          <img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180"><br>
        <br>
        Seu Agente Comunitário de Saúde é!!!
        <br>
      <div class="parent">
      <th>Nome:<table><value class="nome"></value></table></th>
      <th>Lotação:<table><value class="Lotação"></value></table></th>
      <th>Função:<table><value class="Função"></value></table></th></div>
            <br>
        <a href="pagina_inicial.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Nova Pesquisa</button></a>
</body>
</html>