<html>
    <head>
        <title>Seu Perfil</title>
    </head>
    <body>
        <center>
        <a href="pagina_inicial.html">
            <img src="C:\Users\Aluno\Desktop\projeto\acs_finder\imagens\projet_logo.jpg" alt="logo acs">
            </a>
        <br>
        <h1 style="color:blue">Olá Fulano!</h1>
        <br>
        <br>
        Nome: Fulano de Tal
        CNS/CPF:
        <br>
        Lotação:
        <br>
        Categoria Proficional:
        <br>
        Usuário:
        <br>
        Senha:
        <br> 
        <a href="pagina_inicial.html"><button>Sair</button></a>
        </center>

    </body>
</html>