<!DOCTYPE html>
<html lang="pt-br">
<head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' 
      content='IE=edge'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seu Perfil</title>
        <link rel="stylesheet" href="../CSS/estilo_paginas.css">
    </head>
   
    <body>
        <img src="../imagens/projet_logo.jpg" alt="logo" height="120" width="180"><br>           
        
        <h1>Olá Fulano!</h1>
                <br>
       <div class="parent">
        Nome: 
        <br>
        CNS/CPF:
        <br>
        Lotação:
        <br>
        Categoria Profissional:
        <br>
        Usuário:
        <br>
        Senha:
        </div>
     <a href="" alt="Imprimir">imprimir</a> 
        <br><br>
       
                <a  href="Enderecos_Cadastrados.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Endereços Cadastrados</button>                 
                <a href="cadastro_endereços.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Cadastrar Endereços</button>
                <a href="pagina_inicial.html"><button class="btn-3d"><i class="icon-hand-o-right"></i>Sair</button></a>
    </body>
</html>